@using Microsoft.AspNetCore.Mvc.Rendering
@model VendorProcessManagerV1.ViewModels.ProcessInstanceIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Process Instances</h2>

<form asp-action="Index" method="get" class="row g-2 align-items-center mb-3">
    <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
        
    <div class="col-auto">
        <label class="col-form-label fw-bold">Filter by Approver Team:</label>
    </div>

    <div class="col-auto">
        <select asp-for="TeamFilter"
                asp-items="Model.TeamList"
                class="form-select">
            <option value="">--AllTeams--</option>
            </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
   
        <a asp-action="Index"
           asp-route-sortOrder="@Model.TeamFilter"
           class="btn btn-outline-secondary ms-2">Clear</a>
    </div>

   @*  <div class="col-auto">
        <select name="teamFilter" class="form-select">
            <option value="">--AllTeams--</option>
            @foreach (var team in (SelectList)ViewData["TeamList"])
                {
                    <option value="@team.Value" 
                            selected="@(team.Value ==
                            ViewData["CurrentFilter"]?.ToString())">
                            @team.Text</option>                                              
                }
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
        @if (!string.IsNullOrEmpty(ViewData["CurrentFilter"]?.ToString()))
            {
                <a asp-action="Index"
                    asp-route-sortOrder="@Model.TeamFilter"
                    class="btn btn-outline-secondary ms-2">Clear</a>
            }
    </div> *@
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.InstanceNameSort"
                       asp-route-teamFilter="@Model.TeamFilter">
                            Instance Name
                    @if(ViewData["CurrentSort"]?.ToString() == "name_asc")
                    {
                        <span>upicon</span>
                    }
                    else if (ViewData["CurrentSort"]?.ToString() == "name.desc")
                    {
                        <span>downicon</span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.TemplateSort"
                   asp-route-teamFilter="@Model.TeamFilter">Template</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.VendorSort"
                   asp-route-teamFilter="@Model.TeamFilter">Vendor</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.InitiatorSort"
                   asp-route-teamFilter="@Model.TeamFilter">Initiated By</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-teamFilter="@Model.TeamFilter">Created</a>
            </th>            
            <th>
               <a asp-action="Index" asp-route-sortOrder="@Model.StatusSort"
                   asp-route-teamFilter="@Model.TeamFilter">Status</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Instances) 
{
        <tr>                
            <td>
                @item.InstanceName
            </td>
            <td>
                @item.ProcessTemplate?.Name
            </td>
            <td>
                @item.VendorCandidate?.Name
            </td>
            
            <td>
                @item.InitiatedBy?.FirstName
                @item.InitiatedBy?.LastName
            </td>
            <td>
                @item.CreatedDate.ToShortDateString()
            </td>            
            
            <td>
                <span class="badge
                    @(item.Status == ProcessInstanceStatus.NotStarted ? "bg-secondary" :
                    item.Status == ProcessInstanceStatus.InProgress ? "bg-primary" :
                    item.Status == ProcessInstanceStatus.Completed ? "bg-success" : 
                    "bg-danger")">
                    @item.Status 
                </span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
