@model IEnumerable<VendorProcessManagerV1.Models.ProcessInstance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Process Instances</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Instance Name
            </th>
            <th>
                Template
            </th>
            <th>
                Vendor
            </th>
            <th>
                Initiated By
            </th>
            <th>
                Created
            </th>            
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @item.InstanceName
            </td>
            <td>
                @item.ProcessTemplate?.Name
            </td>
            <td>
                @item.VendorCandidate?.Name
            </td>
            
            <td>
                @item.InitiatedBy?.FirstName
                @item.InitiatedBy?.LastName
            </td>
            <td>
                @item.CreatedDate.ToShortDateString()
            </td>            
            
            <td>
                <span class="badge
                    @(item.Status == ProcessInstanceStatus.NotStarted ? "bg-secondary" :
                    item.Status == ProcessInstanceStatus.InProgress ? "bg-primary" :
                    item.Status == ProcessInstanceStatus.Completed ? "bg-success" : 
                    "bg-danger")">
                    @item.Status 
                </span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
