@using Microsoft.AspNetCore.Mvc.Rendering
@model VendorProcessManagerV1.ViewModels.ProcessInstanceIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Process Instances</h2>

<form asp-action="Index" method="get" class="row g-2 align-items-center mb-3">
    <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
        
    <div class="col-auto">
        <label class="col-form-label fw-bold">Filter by Approver Team:</label>
    </div>

    <div class="col-auto">
        <select asp-for="TeamFilter"
                asp-items="Model.TeamList"
                class="form-select">
            <option value="">--AllTeams--</option>
            </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
   
        <a asp-action="Index"
           asp-route-sortOrder="@Model.TeamFilter"
           class="btn btn-outline-secondary ms-2">Clear</a>
    </div>

   @*  <div class="col-auto">
        <select name="teamFilter" class="form-select">
            <option value="">--AllTeams--</option>
            @foreach (var team in (SelectList)ViewData["TeamList"])
                {
                    <option value="@team.Value" 
                            selected="@(team.Value ==
                            ViewData["CurrentFilter"]?.ToString())">
                            @team.Text</option>                                              
                }
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
        @if (!string.IsNullOrEmpty(ViewData["CurrentFilter"]?.ToString()))
            {
                <a asp-action="Index"
                    asp-route-sortOrder="@Model.TeamFilter"
                    class="btn btn-outline-secondary ms-2">Clear</a>
            }
    </div> *@
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.InstanceNameSort"
                       asp-route-teamFilter="@Model.TeamFilter">Instance Name
                    @if(@Model.SortOrder == "name_asc")
                    {
                        <span><i class="bi bi-arrow-up-square"></i></span>
                    }
                    else if (@Model.SortOrder == "name_desc")
                    {
                        <span><i class="bi bi-arrow-down-square"></i></span>
                    }
                </a>
               
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.TemplateSort"
                   asp-route-teamFilter="@Model.TeamFilter">Template               
                    @if (@Model.SortOrder == "template_asc")
                    {
                        <span><i class="bi bi-arrow-up-square"></i></span>
                    }
                    else if (@Model.SortOrder == "template_desc")
                    {
                        <span><i class="bi bi-arrow-down-square"></i></span>
                    }
               </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.VendorSort"
                   asp-route-teamFilter="@Model.TeamFilter">Vendor
                    @if (@Model.SortOrder == "vendor_asc")
                    {
                        <span><i class="bi bi-arrow-up-square"></i></span>
                    }
                    else if (@Model.SortOrder == "vendor_desc")
                    {
                        <span><i class="bi bi-arrow-down-square"></i></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.InitiatorSort"
                   asp-route-teamFilter="@Model.TeamFilter">Initiated By
                    @if (@Model.SortOrder == "initiator_asc")
                    {
                        <span><i class="bi bi-arrow-up-square"></i></span>
                    }
                    else if (@Model.SortOrder == "initiator_desc")
                    {
                        <span><i class="bi bi-arrow-down-square"></i></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-teamFilter="@Model.TeamFilter">Created
                    @if (@Model.SortOrder == "date_asc")
                    {
                        <span><i class="bi bi-arrow-up-square"></i></span>
                    }
                    else if (@Model.SortOrder == "date_desc")
                    {
                        <span><i class="bi bi-arrow-down-square"></i></span>
                    }
               </a>
            </th>            
            <th>
               <a asp-action="Index" asp-route-sortOrder="@Model.StatusSort"
                   asp-route-teamFilter="@Model.TeamFilter">Status
                    @if (@Model.SortOrder == "status_asc")
                    {
                        <span><i class="bi bi-arrow-up-square"></i></span>
                    }
                    else if (@Model.SortOrder == "status_desc")
                    {
                        <span><i class="bi bi-arrow-down-square"></i></span>
                    }
               </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Instances) 
{
        <tr>                
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.InstanceName</a>
            </td>
            <td>
                <a asp-controller="ProcessTemplates"
                   asp-action="Details" asp-route-id="@item.ProcessTemplateId">
                    @item.ProcessTemplate?.Name</a>
            </td>
            <td>
                <a asp-controller="VendorCandidates" 
                    asp-action="Details" asp-route-id="@item.VendorCandidateId">
                    @item.VendorCandidate?.Name</a>
            </td>
            
            <td>
                @item.InitiatedBy?.FirstName
                @item.InitiatedBy?.LastName
            </td>
            <td>
                @item.CreatedDate.ToShortDateString()
            </td>            
            
            <td>
                <span class="badge
                    @(item.Status == ProcessInstanceStatus.NotStarted ? "bg-secondary" :
                    item.Status == ProcessInstanceStatus.InProgress ? "bg-primary" :
                    item.Status == ProcessInstanceStatus.Completed ? "bg-success" : 
                    "bg-danger")">
                    @item.Status 
                </span>
            </td>
            <td width="130px">
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="bi bi-pencil-fill"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="bi bi-card-checklist"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
