@model VendorProcessManagerV1.Models.ProcessTemplateTransition

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProcessTemplateTransition</h4>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromProcessTemplateTaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromProcessTemplateTaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToProcessTemplateTaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToProcessTemplateTaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionExpression)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionExpression)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefault)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
