@model VendorProcessManagerV1.Models.ProcessTaskTransition

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProcessTaskTransition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessInstanceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessInstanceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessTemplateTrasitionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessTemplateTrasitionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromProcessStepId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromProcessStepId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToProcessStepId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToProcessStepId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
