@model IEnumerable<VendorProcessManagerV1.Models.ProcessTaskTransition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcessInstanceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessTemplateTrasitionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromProcessStepId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToProcessStepId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessInstanceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessTemplateTrasitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromProcessStepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToProcessStepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
